.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modalBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.modalContent input {
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}

.select {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 175px;
    height: 25px;
}

.formContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-left: 30px;
    max-width: 350px;
}

.formContent span {
    padding-left: 10px;
    color: red;
    align-self: flex-end;
}

.inputWrapper {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.submitBtn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 2em 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    align-self: center;
    font-size: 16px;
}
