.gridTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.gridTable thead tr th {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding: 5px 10px;
  color: #aaa;
}

.gridTable tbody tr td {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #333;
}

.gridTable tbody tr:hover td {
  background: #f1f1f1;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.gridActions button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}
